* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page-container {
  margin: 1rem;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.application-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a,
.login-button {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.login-button {
  background: none;
  border: none;
  cursor: pointer;
}

.nav li:hover,
.login-button {
  background-color: lightgrey;
}
